################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ArcConv
/ArcConv/bin/Debug/netcoreapp3.1
/ArcConv/obj
